/* responsiv style here */

/* for mobile media query */
@media screen and (max-width:576px) {

    /* commone */
    .main-container,
    .careers,
    .footer {
        width: 1140px;
        margin: auto;
    }

    header
    {
        padding: 0px 10px;
    }

    .nav-bar,
    .menu-item,
    .gamer-content,
    .instantly-play-container,
    .career-container
     {
        flex-direction: column;
    }

    .bannar-content,
    .play-game-container {
        flex-direction: column-reverse;
    }

    /* nav section resposniv */
    .nav {
        box-shadow: none;
    }

    .menu {
        margin: 32px 0px;
    }

    .menu li {
        display: block;
        text-align: center;
        margin: 32px 0px;
    }

    /* bannar section reponsiv */
    .bannar {
        background-image: none;
    }

    .bannar-text-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* we are gamer */
    .we-are-gamer,
    .icon-section{
        background:none;
    }
    .gamer-text-content,
    .play-text-container,
    .play-game-text-container,
    .play-title-2{
        text-align: center;
    }
    .play-description,
    .play-description-2
    {
        margin: 0 auto;
    }
    /* online-games section */
    .card-item {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        width:100%;
        justify-items: center;
    }
    .card-description{
        width: 600px;
    }
    .icons{
        gap: 60px;
    }

    .footer-menu{
     grid-template-columns: repeat(3,1fr);
    }
    .footer-icons{
        grid-template-columns: repeat(3,50px);
    }
    .Terms-and-conditions{
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
}

/* for tab */
@media screen and (min-width:577px) and (max-width:768px) {

    /* commone style */

    .main-container,
    .careers,
    .footer {
        width: 1140px;
        margin: auto;
    }

    .nav-bar,
    .gamer-content,
    .instantly-play-container,
    .career-container {
        flex-direction: column;
    }

    .bannar-content,
    .play-game-container {
        flex-direction: column-reverse;
    }

    /* nav section responsiv */
    .nav {
        box-shadow: none;
    }

    .logo {
        margin-bottom: 32px;
    }

    /* bannar section reponsiv */
    .bannar {
        background-image: none;
    }

    .bannar-text-content {
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        width: 70%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* we are gamer */
    .we-are-gamer,
    .icon-section{
        background:none;
    }
    .gamer-text-content,
    .play-text-container,
    .play-game-text-container{
        text-align: center;
    }

    /* online-games section */
    .card-item {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        width:80%;
        margin: auto;
    }
    .play-description,
    .play-description-2{
        margin: 0 auto;
    }

}