/* Common shared Style here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.main-container {
    width: 1440px;
    margin: auto;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

/* header section style here */
.nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-title {
    margin-left: 20px;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.g-letter {
    color: #FF42A5;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu li a {
    margin: 0px 16px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin-left: 16px;
    padding: 18px 24px;
}

.icon-title {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* bannar section style here */
.bannar {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.bannar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.bannar-text-title-1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bannar-text-title-2 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannar-text-descriptoon {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 18px 0px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}

.btn-1 {
    background-color: #FF42A5;
}

.btn-2 {
    background-color: #4EC5F7;
}

.bannar-image img {
    width: 100%;
}


/* responsiv style here */

/* for mobile media query */

@media screen and (max-width:576px) {

    /* commone */
    .main-container {
        max-width: 1140px;
        margin: auto;
    }

    header {
        padding: 0px 10px;
    }

    .nav-bar,
    .menu-item {
        flex-direction: column;
    }

    .bannar-content {
        flex-direction: column-reverse;
    }

    /* nav section resposniv */
    .nav {
        box-shadow: none;
    }

    .menu {
        margin: 32px 0px;
    }

    .menu li {
        display: block;
        text-align: center;
        margin: 32px 0px;
    }

    /* bannar section reponsiv */
    .bannar {
        background-image: none;
    }

    .bannar-text-content {
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        width: 80%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* for tab */
@media screen and (min-width:577px) and (max-width:768px) {

    /* commone style */
    .nav-bar {
        flex-direction: column;
    }

    .bannar-content {
        flex-direction: column-reverse;
    }

    /* nav section responsiv */
    .nav {
        box-shadow: none;
    }

    .logo {
        margin-bottom: 32px;
    }

    /* bannar section reponsiv */


    .bannar {
        background-image: none;
    }

    .bannar-text-content {
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        width: 70%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}