/* Common shared Style here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.main-container {
    width: 1440px;
    margin: auto;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

/* header section style here */
.nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-title {
    margin-left: 20px;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.g-letter {
    color: #FF42A5;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu li a {
    margin: 0px 16px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    margin-left: 16px;
    padding: 18px 24px;
}

.icon-title {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* bannar section style here */
.bannar {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}

.bannar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.bannar-text-title-1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bannar-text-title-2 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bannar-text-descriptoon {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 18px 0px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    margin-top: 32px;
    cursor: pointer;
}

.btn-1 {
    background-color: #FF42A5;
}

.btn-2 {
    background-color: #4EC5F7;
}

.bannar-image img {
    width: 100%;
}

/* we are gamer section style here */
.we-are-gamer {
    background-color: rgba(255, 66, 165, 0.03);
}

.gamer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 95px 0px;
}

.gamer-image img {
    width: 100%;
}

.gamer-text-content {
    text-align: right;
    width: 40%;
}

.gamer-text-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-text-descriptoon {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.Our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 24px;
}

.unleash {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* Online Games section */
.online-games {
    margin-top: 120PX;
}

.online-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 48px;
}

.card-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card {
    padding-bottom: 24px;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.card-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

.box {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #0B0223;
    border-radius: 16px;
    transition: 0.3 ease;
}

.icon {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
}

.fa-play-circle {
    margin-bottom: 20px;
}

.icon i,
.icon p {
    font-size: 24px;
    font-weight: 500;
}

.box:hover .effect {
    opacity: 0.8;
    cursor: pointer;
}

.box:hover .icon {
    color: #ffffff;
    opacity: 1;
}

/* Play Instantly section  */
.play-instantly {
    margin-top: 120px;
    margin-bottom: 120px;
}

.instantly-play-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.play-text-container {
    text-align: right;
}

.play-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 300px;
}



.imags {
    position: relative;
    width: 636px;
    height: 650px;
}

.imags>img {
    width: 100%;
}

.side-img {
    position: absolute;
    left: -100px;
    bottom: -100px;
}

/* play game section */

.play-game {
    padding-top: 120px;
    margin-bottom: 120px;
}

.play-game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.imags-2 {
    position: relative;
    width: 636px;
    height: 650px;
}

.imags-2>img {
    width: 100%;
}

.side-img-2 {
    position: absolute;
    right: -100px;
    bottom: -100px;
}

.play-game-text-container {
    text-align: left;
}

.play-title-2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.play-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description-2 {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 100px;
}


/* careers sections styles */
.careers {
    background-image: url(../images/Group\ 65.png), linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-repeat: no-repeat;
    margin-top: 240px;
    background-position: right;
}

.careers-container {
    padding: 100px 0px;

}

.careers-content-left {
    color: #FFF;
    width: 45%;
}

.career-title {
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 24px;

}

.career-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 32px;
}

.list {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.btn-3 {
    color: #FF42A5;
    margin-top: 40px;
}

/* icon sections styles here */
.icon-section {
    background: #ff42a508;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    gap: 25px;

}

.icon-item {
    display: flex;
    align-items: center;
    width: 250px;
    height: 80px;
    border-radius: 48px;
    background-color: #FFF;
    padding: 10px;
}

.icon-item:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
    outline: none;
    background-color: transparent;
}

.icons-title {
    margin-left: 16px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;

}

/* footer section */

.footer {
    margin-top: 60px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #0B0223;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.footer-title {
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    justify-items: center;
    margin-bottom: 56px;
}

.footer-menu li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 30px;
    justify-items: center;
    margin-bottom: 56px;
    justify-content: center;
}

.footer-icons a i {
    color: #FFF;
    font-size: 40px;
}

.Terms-and-conditions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    margin-bottom: 28px;
    justify-content: center;
}

.Terms-and-conditions li a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}